# Q1. Why do we call Python as a general purpose and high-level programming language?

python is  general purpose   programming language because it is widely used to built different softwares

it can be used to create a variety of different programs and isnt specialized for any specific problems

# Q2. Why is Python called a dynamically typed language?

for declaring a variable we need not take the date type seperately

lets say we want to take a=5

in python we can assign directly a=5  and Python also take cares of the memory management  this is  why we call dynamically typed language

# Q3. List some pros and cons of Python programming language?

#pros
--> as we know python is dynamically typed programming language

--> open source

--> packages and libraries in python

--> inbuilt functions

#cons

-->slower when compared to c++ in execution time

-->High memory consumption

# Q4. In what all domains can we use Python?

python is widely used in ai and ml is widely used.

python is widely used in  Data science.

python is used in web development(django,flask).

It is used to built deep learning model like ann,gan,nn,...etc

# Q5. What are variable and how can we declare them?

variables are nothing but containers  to store a data.

lets say a is a variable if we want to store the value 5 in it we use  a=5.

here a is variable we  assign the value 5 to the varible a

# Q6. How can we take an input from the user in Python?

in python we can take input by using the input() inbuilt function.

by default input() will be string.

a=input()#string

b=int(input())# integer

# Q7. What is the default datatype of the value that has been taken as an input using input() function

by default input() will take as string

# Q8. What is type casting?

type casting in simple words changing the data type.

the conversion of one data type into the other data type

a="9"#we taken as string

b=int(a) #we are type casting (string to integer)

In [10]:
a="9"
b=int(a)
print(type(a))
print(type(b))

<class 'str'>
<class 'int'>

# Q9. Can we take more than one input from the user using single input() function? If yes, how? If no, why?

it is possible to take more than one input from user usinf single input by using split() function
let say we want to take 3 values from user a,b,c by using single input we can take
a,b,c=input().split()

In [2]:
a,b,c=input().split()

1 2 3

In [3]:
print(a,b,c)

1 2 3

# Q10. What are keywords?

# Several words in the Python language are designated as reserved keywords, meaning they cannot be used as variable names, function names, or any other identifiers.
ex:
    and
    
    as,
    
    class,
    
    def,
    
    elif,
    if ,
    else,
    break,
    continue,
    finally,
    from,
    while,
    import
    ...etc

# Q11. Can we use keywords as a variable? Support your answer with reason.

we cannot use keyword  as variable name it throws error if we used

reason:

    Keywords define the languages syntax rules and structure, and they cannot be used as variable names

# Q12. What is indentation? What's the use of indentaion in Python?

python uses indentation to indicate a block of code.

Python indentation refers to adding white space before a statement to a particular block of code. 

ex:
    if 1:
        print(True)#indentation  gap before print()statement for this line
    else:
        print(False)
        
uses:
    provides readers with a sense of continuity
    They help present content in a logical fashion

# Q13. How can we throw some output in Python?

python helps us to print output by using print() function

ex:

    a="ineuron"
    
    print(a)#output

In [11]:
a="ineuron"
print(a)#output

ineuron

# Q14. What are operators in Python?

Operators are special symbols that perform operations on variables and values.

Arithmetic operators

Assignment Operators

Comparison Operators

Logical Operators

Bitwise Operators

# Q15. What is difference between / and // operators?

/ means float division

// means integer division

In [14]:
a=5/2
b=5//2
print(a)
print(b)

2.5
2

# Q16. Write a code that gives following as an output.

In [16]:
n="iNeuron"
print(n*4)

iNeuroniNeuroniNeuroniNeuron

# Q17. Write a code to take a number as an input from the user and check if the number is odd or even.

In [17]:
n=int(input())
if n%2==0:  #if it is divisible by 2 then it is even
    print("Even")
else:
    print("Odd")

22
Even

# Q18. What are boolean operator?

boolean operator  mean True or False 

Boolean operators are another name for the logical operators -->and, or,not.

# Q19. What will the output of the following?
```
1 or 0

0 and 0

True and False and True

1 or 0 or 0

In [22]:
print("1 or 0=",1 or 0)

1 or 0= 1

In [23]:
print("1 and 0=",1 and 0)

1 and 0= 0

In [25]:
print("True or False =",True or False)

True or False = True

In [28]:
print("1 or 0 or 0 =",1 or 0 or 0)

1 or 0 or 0 = 1

# Q20. What are conditional statements in Python?

in python condition statement are if else statements

we have a particular conditions we check for those if those particular conditon is accepted then 

those instruction will get executed

if condtion fail will check same for other condtion if all fail else block will execute if it was 

available

if x==1:

    print(1)

elif x==2:

    print(2)

else:

    print(3)

# Q21. What is use of 'if', 'elif' and 'else' keywords?

we can say if is an decision making statement

It is used to decide whether a certain statement or block of statements will be executed or not i.e 

if a certain condition is true then a block of statement is executed otherwise not.

ex :
    
    a=10
    
    if a==10:
    
        print("TRUE")

elif:
    if conditional statement is false if we want to check for more conditional statements then we can     use elif
    
else:
    if all the conditional statements are flase the else will be executed

In [3]:
a=int(input("Enter your lucky number: "))
if a<100:
    print("hi")
elif a<1000:
    print("hihi")
else:
    print("Hello")

Enter your lucky number: 12
hi

# Q22. Write a code to take the age of person as an input and if age >= 18 display "I can vote". If age is < 18 display "I can't vote".

In [5]:
n=int(input("Enter the age : "))
if n>=18:
    print("I can vote.")
else:
    print("I can't  vote")

Enter the age : 12
I can't  vote

# Q23. Write a code that displays the sum of all the even numbers from the given list.
```
numbers = [12, 75, 150, 180, 145, 525, 50]

In [6]:
even_sum=0
numbers = [12, 75, 150, 180, 145, 525, 50]
for i in numbers:
    if i%2==0:
        even_sum+=i
print(even_sum)

392

# Q24. Write a code to take 3 numbers as an input from the user and display the greatest no as output

In [11]:
a,b,c=input().split(" ")
print(max(a,b,c))

1 2 3
3

# Q25. Write a program to display only those numbers from a list that satisfy the following conditions

- The number must be divisible by five

- If the number is greater than 150, then skip it and move to the next number

- If the number is greater than 500, then stop the loop
```



numbers = [12, 75, 150, 180, 145, 525, 50]

In [12]:
numbers = [12, 75, 150, 180, 145, 525, 50]

In [20]:
for i in numbers:
    if i>=500:#greater than 500 stop loop
        break;
    if i%5==0 and  i<150: #divisible by 5 and less than 500
            print(i)

75
145

# Q26. What is a string? How can we declare string in Python?

ans)

string is an array of sequenced of charactera 

strings are written in single or double quotes ex: " " or ''

example:

s="sameer" ---> string

In [3]:
s='sameer'
print(s)

sameer

# Q27. How can we access the string using its index?

ans)

string can be accessed through indexes

Sqaure brackets can used to access the elements of the string.

ex:
    n="sameer"
    
    n[0] -->'s'
    
    n[1] -->'a'
    
    .... etc

In [13]:
s="sameer"
for i in range(len(s)):
    print('s',[i]," = ",s[i])

s [0]  =  s
s [1]  =  a
s [2]  =  m
s [3]  =  e
s [4]  =  e
s [5]  =  r

# Q28. Write a code to get the desired output of the following
```
string = "Big Data iNeuron"
desired_output = "iNeuron"
```

In [14]:
string = "Big Data iNeuron"

In [16]:
print(string[9:])

iNeuron

# Q29. Write a code to get the desired output of the following
```
string = "Big Data iNeuron"
desired_output = "norueNi"
```

In [17]:
print(string[9:][::-1])

norueNi

# Q30. Resverse the string given in the above question.

In [18]:
print(string[9:][::-1])

norueNi

# Q31. How can you delete entire string at once?

In [1]:
s="sameer"
del s
print(s)

NameError: name 's' is not defined

# Q32. What is escape sequence?

ans)

Escape sequences allow you to include special characters in the  strings. 

adding a  backslash (\) before the character you want to escape.

In [3]:
txt = "HI I AM  \"SAMEER\" I LIKE APPLES."
print(txt)

HI I AM  "SAMEER" I LIKE APPLES.

# Q33. How can you print the below string?
```
'iNeuron's Big Data Course'
```

In [10]:
s="iNeuron\'s  Big Data Course"
print(s)

iNeuron's  Big Data Course

# Q34. What is a list in Python?

ans)
list is homogeneous datastructure we can store any kind of data in it .

list are used to store multiple items in a single variable

list had some in built functions

1.append   2.replace    3.pop   4.insert    5.del   6.index   7.count   ....etc

# Q35. How can you create a list in Python?

list can be created by using list() function  or by opening and closing square brackets []  for a variable 

 ex:
 
        l=[]
        
        l1=list()

In [11]:
l=[1,2,3,4]
print(l)

[1, 2, 3, 4]

In [13]:
l1=list()
l1.append(1);l1.append(2)
print(l1)

[1, 2]

# Q36. How can we access the elements in a list?

ans)
we can access list element by indexs or by using loop concepts

In [15]:
l=[1,2,3,4,5,6,7,8]
print(l[1])   # through index

2

In [17]:
for i in l:                           # loop
    print(i,end=" ")

1 2 3 4 5 6 7 8

# Q37. Write a code to access the word "iNeuron" from the given list.
```
lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]
```

In [21]:
lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]
print(lst[4][2])

iNeuron

# Q38. Take a list as an input from the user and find the length of the list.

In [23]:
l=list(map(int,input().split()))
print("length of list is ",len(l))

1 2 3 4 5 6 7 8 9
length of list is  9

# Q39. Add the word "Big" in the 3rd index of the given list.
```
lst = ["Welcome", "to", "Data", "course"]
```

In [3]:
lst = ["Welcome", "to", "Data", "course"]
lst.insert(2,"Big") #indexing starts at at 0. so 3 means index 2
print(lst)

['Welcome', 'to', 'Big', 'Data', 'course']

# Q40. What is a tuple? How is it different from list?

ans)
Tuples are used to store multiple items in a single variable

A tuple is an immutable object, which means it cannot be changed

we use it to represent fixed collections of items

A tuple is a collection which is ordered and unchangeable.


tuples are different from list

--> list are mutable (we can change the values)

--> tuples are immutable (we can not change like add or delete once it is created)

--->  We can also faster through the tuples than the list.

# Q41. How can you create a tuple in Python?

we can create tuple by using round brackets ()

In [8]:
# ex
a=(1,2,3,4)
b=1,2,3,4,5 # WE CAN DECLARE IN BOTH WAYS

print(a,type(a))
print(b,type(b))

(1, 2, 3, 4) <class 'tuple'>
(1, 2, 3, 4, 5) <class 'tuple'>

# Q42. Create a tuple and try to add your name in the tuple. Are you able to do it? Support your answer with reason.

ans)
tuples are  immutable . 

to do this firt the typecasting should be done like the tuple should be converted to list and do changes
what ever we want and change the list again into tuple

# Q43. Can two tuple be appended. If yes, write a code for it. If not, why?

yes we can add two tuples

In [10]:
s1=('sameeraja')
s2=(' shyam')
print(s1+s2)

sameeraja shyam

# Q44. Take a tuple as an input and print the count of elements in it.

In [16]:
l=list(map(int,input().split()))
t=tuple(l)
print(len(t))

1 2 3 4 5
5

# Q45. What are sets in Python?

 Set items are unordered, unchangeable, and do not allow duplicate values.

Set items are unchangeable, meaning that we cannot change the items after the set has been create

-->duplicates are not allowed

# Q46. How can you create a set?

we can create set using curly brackets set() function

In [21]:
s=set()
print(type(s))

<class 'set'>

# Q47. Create a set and add "iNeuron" in your set.

In [24]:
s=set()
s.add("iNeuron")
print(s)

{'iNeuron'}

# Q48. Try to add multiple values using add() function.

In [27]:
s.add("sameer")
s.add('shyam')
s.add("B.TECH")
for i in range(1,9):
    s.add(i)
print(s)

{1, 2, 3, 4, 'B.TECH', 5, 6, 7, 8, 'shyam', 'iNeuron', 'sameer'}

# Q49. How is update() different from add()?

 we Can add more than one element in a single go using update().
 
but using add() it's not possible.

# Q50. What is clear() in sets?

 ans)
 
 Removes all the elements from the set

In [1]:
s = {1,2,3,4,5}
s.clear()
print(s)

set()

# Q51. What is frozen set?

Frozen set is just an immutable.
While elements of a set can be modified at any time
elements of the frozen set remain the same after creation.

# Q52. How is frozen set different from set?

in fronset once we declare we cannot able to change or modify the set 

in set we change the elements at any point of time

A set is a mutable object while frozenset provides an immutable implementation.

# Q53. What is union() in sets? Explain via code.

union means combining of all elements  at once 

means lets say a={1,2,3,4,5} b={5,6,7,8,9}

union of a,b={1,2,3,4,5,6,7,8,9}

In [2]:
x = {1,2,3}
y = {1,2,3,4,5,6}

z = x.union(y)

print(z)

{1, 2, 3, 4, 5, 6}

# Q54. What is intersection() in sets? Explain via code.

The intersection() method returns a set that contains the similarity between two or more sets

In [5]:
x = {1,2,3}
y = {1,2,3,4,5,6}
z = x.intersection(y)
print(z)

{1, 2, 3}

# Q55. What is dictionary ibn Python?

A dictionary consists of a collection of key-value pairs. 

Each key-value pair maps the key to its associated value.

# Q56. How is dictionary different from all other data structures.

The dictionary Data Structure in Python is an unordered collection of items 

While other Data Structures use only one value as the element,

# Q57. How can we delare a dictionary in Python?

In [7]:
d=dict()
print(type(d))

<class 'dict'>

# Q58. What will the output of the following?
```
var = {}
print(type(var))
```

ans)         <class 'dict'>

# Q59. How can we add an element in a dictionary?

In [11]:
d=dict()

In [16]:
d["sameer"]=1
d.update({"age":19})
print(d)

{'sameer': 1, 'age': 19}

# Q60. Create a dictionary and access all the values in that dictionary.

In [17]:
d=dict()
d["sameer"]=1
d.update({"age":19})
print(d.values())

dict_values([1, 19])

# Q61. Create a nested dictionary and access all the element in the inner dictionary.

In [18]:
d= dict(emp1 = {'name': 'Bob', 'job': 'Mgr'},
         emp2 = {'name': 'Kim', 'job': 'Dev'},
         emp3 = {'name': 'Sam', 'job': 'Dev'})

In [28]:
k=d.keys()
for i in k:
    print(d[i])

{'name': 'Bob', 'job': 'Mgr'}
{'name': 'Kim', 'job': 'Dev'}
{'name': 'Sam', 'job': 'Dev'}

# Q62. What is the use of get() function?

get() function is used to get the value of any specified key from a dictionary.

# Q63. What is the use of items() function?

 items() method is used to return the list with all dictionary keys with values.

# Q64. What is the use of pop() function?

The pop() method removes the item at the given index from the list and returns the removed item.

# Q65. What is the use of popitems() function?

dictionary popitem() method removes the last inserted key-value pair from the dictionary and returns it as a tuple.

# Q66. What is the use of keys() function?

keys() function will return all keys from dictionary

# Q67. What is the use of values() function?

values() function will return all values from dictionary

# Q68. What are loops in Python?

A loop is an instruction that repeats multiple times as long as some condition is met.

loops:

    1. for loop
    
    2. while loop

# Q69. How many type of loop are there in Python?

loops:

    1. for loop
    
    2. while loop
    
    3. nested loop

# Q70. What is the difference between for and while loops?

for loop will be used when we know the number of iterations we are going to be used

while loop is use baded on condition until it sastifys

In [13]:
print("---FOR LOOP---")
for i in range(0,10,1):
    print(i,end=" ")
print()
print("-------------")
print()
print("While loop")
i=0
while(i<10):
    print(i,end=" ")
    i+=1

---FOR LOOP---
0 1 2 3 4 5 6 7 8 9
-------------

While loop
0 1 2 3 4 5 6 7 8 9

# Q72. What is the use of break statement?

To exit early from a loop.

To skip the remainder of the switch structure

# Q73. What is the use of pass statement?

The pass statement is used as a placeholder for future code

# Q74. What is the use of range() function?

it will return sequence of numbers it will takes parameters 

start,increment are optional parameter

end is mandatiory parameter

In [14]:
for i in range(0,10,2):
    print(i,end=" ")

0 2 4 6 8

# Q75. How can you loop over a dictionary?

In [21]:
d=dict()
d.update({'sam':11})
d.update({"adi":12})

In [25]:
for i in d.items():
    print(i)

('sam', 11)
('adi', 12)

# Coding problems

# Q76. Write a Python program to find the factorial of a given number.

In [27]:
n=int(input())
def factorial(n):
    c=1
    for i in range(1,n+1):
        c*=i
    print("factorial of ",n," is = ",c)
factorial(n)

5
factorial of  5  is =  120

# Q77. Write a Python program to calculate the simple interest. Formula to calculate simple interest is SI = (P*R*T)/100

In [29]:
p=int(input("Profit = "))
r=int(input("rate of interest = "))
t=int(input("tenure = "))
si=(p*t*r)/100
print("si = ",si)

Profit = 12000
rate of interest = 7
tenure = 2
si =  1680.0

# Q78. Write a Python program to calculate the compound interest. Formula of compound interest is A = P(1+ R/100)^t.

In [30]:
p=int(input("Profit = "))
r=int(input("rate of interest = "))
t=int(input("tenure = "))
ci=p*(1+r/100)**t
print("ci= ",ci)

Profit = 12000
rate of interest = 7
tenure = 2
ci=  13738.800000000001

# Q79. Write a Python program to check if a number is prime or not.

In [52]:
n=int(input())
i=2
c=0
while i<=(n//2):
    if n%i==0:
        c+=1
        print("NOT PRIME")
        break
    i+=1
if c==0:
    print("prime")

97
prime

# Q80. Write a Python program to check Armstrong Number.

In [1]:

num = int(input())
sum = 0
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

123
123 is not an Armstrong number

# Q81. Write a Python program to find the n-th Fibonacci Number.

In [5]:
def fibonacci(n):
    a = 0
    b = 1
    if n < 0:
        print("Incorrect input")
    elif n == 0:
        return a
    elif n == 1:
        return b
    else:
        for i in range(2, n):
            c = a + b
            a = b
            b = c
        return b
 
n=int(input())
print()
print(fibonacci(n))

9

21

# Q82. Write a Python program to interchange the first and last element in a list.

In [7]:
l=[1,2,3,4,5,6,7]
a=l[0]
b=l[-1]
l[0]=b
l[-1]=a
print(l)

[7, 2, 3, 4, 5, 6, 1]

# Q83. Write a Python program to swap two elements in a list.

In [10]:
l=[1,2,3,4,5,6,7]
l[2],l[3]=l[3],l[2]
print(l)

[1, 2, 4, 3, 5, 6, 7]

# Q84. Write a Python program to find N largest element from a list.

In [11]:
l=[1,2,3,4,5,6,7]
print(max(l))

7

# Q85. Write a Python program to find cumulative sum of a list.

In [12]:
l=[1,2,3,4,5,6,7]
ll=[]
s=0
for i in l:
    s+=i
    ll.append(s)
print(ll)

[1, 3, 6, 10, 15, 21, 28]

# Q86. Write a Python program to check if a string is palindrome or not.

In [19]:
n=input()
n1=n[::-1]
if n1==n:
    print("YES PALINDROME")
else:
    print("NOT PALINDROME")

sos
YES PALINDROME

# Q87. Write a Python program to remove i'th element from a string.

In [22]:
n=[1,2,3,4,5,6,7,8]
n.pop(2)
print(n)

[1, 2, 4, 5, 6, 7, 8]

# Q88. Write a Python program to check if a substring is present in a given string.

In [24]:
string=input()
sub_string=input()
if sub_string  in string:
    print("Yes")
else:
    print('No')

name
s
No

# Q89. Write a Python program to find words which are greater than given length k.

In [36]:
k=int(input("length : "))
s=input('enter string : ') 
l=s.split(" ")
ss=[]
for  i in l:
    if len(i)>=k:
        ss.append(i)

print(ss)

length : 5
enter string : ineuron big datacourse
['ineuron', 'datacourse']

# Q90. Write a Python program to extract unquire dictionary values.

In [1]:
dict1 = {'A' : [1, 3, 5, 4],
             'B' : [4, 6, 8, 10],
             'C' : [6, 12, 4 ,8],
             'D' : [5, 7, 2]}

print(dict1)
res = list(sorted({ele for val in dict1.values() for ele in val}))
  
print("The unique values list is : " , res)

{'A': [1, 3, 5, 4], 'B': [4, 6, 8, 10], 'C': [6, 12, 4, 8], 'D': [5, 7, 2]}
The unique values list is :  [1, 2, 3, 4, 5, 6, 7, 8, 10, 12]

# Q91. Write a Python program to merge two dictionary.

In [2]:
dict_1 = {1: 'a', 2: 'b'}
dict_2 = {2: 'c', 4: 'd'}

print(dict_1 | dict_2)

{1: 'a', 2: 'c', 4: 'd'}

# Q92. Write a Python program to convert a list of tuples into dictionary.
```
Input : [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)]
Output : {'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

In [6]:
n= [('Sachin', 10), ('MSD', 7), ('Kohli', 18), ('Rohit', 45)] 
k=[]
v=[]
for i in n:
    k.append(i[0])
    v.append(i[1])
d=dict()    
for i in range(len(k)):
    d.update({k[i]:v[i]})
print(d)

{'Sachin': 10, 'MSD': 7, 'Kohli': 18, 'Rohit': 45}

# Q93. Write a Python program to create a list of tuples from given list having number and its cube in each tuple.
```
Input: list = [9, 5, 6]
    
Output: [(9, 729), (5, 125), (6, 216)]
```

In [11]:
n=[9,5,6]
l=[]
for i in n:
    l.append((i,i**3))
print(l)

[(9, 729), (5, 125), (6, 216)]

# Q94. Write a Python program to get all combinations of 2 tuples.
```
Input : test_tuple1 = (7, 2), test_tuple2 = (7, 8)
Output : [(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]
```

In [14]:
import itertools
 
test_tuple1 = (7, 2)
test_tuple2 = (7, 8)
 
# printing original tuples
print("The original tuple 1 : " + str(test_tuple1))
print("The original tuple 2 : " + str(test_tuple2))
 
res = [(a, b) for a in test_tuple1 for b in test_tuple2] + [(a, b) for a in test_tuple2 for b in test_tuple1]
 
# printing result
print("All pair combinations of 2 tuples : " + str(res))

The original tuple 1 : (7, 2)
The original tuple 2 : (7, 8)
All pair combinations of 2 tuples : [(7, 7), (7, 8), (2, 7), (2, 8), (7, 7), (7, 2), (8, 7), (8, 2)]

# Q95. Write a Python program to sort a list of tuples by second item.
```
Input : [('for', 24), ('Geeks', 8), ('Geeks', 30)] 
Output : [('Geeks', 8), ('for', 24), ('Geeks', 30)]

In [19]:
n= [('for', 24), ('Geeks', 8), ('Geeks', 30)] 
print((sorted(n, key = lambda n: n[1])))

[('Geeks', 8), ('for', 24), ('Geeks', 30)]

# Q96. Write a python program to print below pattern.
```
* 
* * 
* * * 
* * * * 
* * * * * 
```

In [22]:
n=int(input())
for i in range(n+1):
    print(i*"*")

5

*
**
***
****
*****

# Q97. Write a python program to print below pattern.
```
    *
   **
  ***
 ****
*****
```

In [23]:
n=5;i=0
while(i<=n):
  print(" " * (n - i) +"*" * i)
  i+=1

    *
   **
  ***
 ****
*****

# Q98. Write a python program to print below pattern.
```
    * 
   * * 
  * * * 
 * * * * 
* * * * * 
```

In [25]:
rows = int(input())  
k = 2 * rows - 2  
for i in range(0, rows):  
    for j in range(0, k):  
        print(end=" ")  
    k = k - 2   
    for j in range(0, i + 1):  
        print("* ", end="") 
    print("")

5
        *
      * *
    * * *
  * * * *
* * * * *

# Q99. Write a python program to print below pattern.
```
1 

1 2 

1 2 3 

1 2 3 4 

1 2 3 4 5

In [28]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# Q100. Write a python program to print below pattern.
```
A 
B B 
C C C 
D D D D 
E E E E E 
```

In [39]:
for i in range(5):
    a=65+i
    print(chr(a)*(i+1))

A
BB
CCC
DDDD
EEEEE